-- Add logo_url column to pages table
ALTER TABLE pages ADD COLUMN IF NOT EXISTS logo_url TEXT;

-- Add image_url column to page_actions table
ALTER TABLE page_actions ADD COLUMN IF NOT EXISTS image_url TEXT;